.layout{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    

    &__aa{
        width: 200px;
        margin-top: 10px;
        cursor: pointer;
    }
}

@media (max-width: 503px){
    .layout{
        justify-content: center;
    }
}