


 
    
    
    <section class="maina">

      <mat-expansion-panel hideToggle  expanded="true" *ngIf="messageService.getMessages().length"> 
        <mat-expansion-panel-header>
      <mat-panel-title>
        Messages
      </mat-panel-title>
      <mat-panel-description>
    {{messageService.getMessages().length}} record(s)    
    </mat-panel-description>
    </mat-expansion-panel-header>

    <p>
        <button mat-raised-button  color="warn" (click)="messageService.clear()" >Clear Messages</button>
    </p>

    <mat-list>
      <mat-list-item *ngFor="let message of messageService.getMessages()">
        
      {{message}}

      </mat-list-item>
    </mat-list>

    <div  >

    </div>
  </mat-expansion-panel>

    </section>